{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Create new account {% endblock %}
{% block body_block %}

{% if registered %}
<div class="alert alert-success">Account created successfully! <a href="{% url 'App_Login:login' %}">Login Here</a> </div>
{% else %}
<h2>Create New Account</h2>
<form method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-sm">Create Account</button>

</form>
<p>Already have an account?<a href="{% url 'App_Login:login' %}">Login Here</a></p>

{% endif %}
{% endblock %}